	{{#linkTo 'index' class="button"}}Cancel{{/linkTo}}
	<button class="action" {{action 'addScoop'}}>Add a Scoop</button>
	<button class="action" {{action 'addTopping'}}>Add a Topping</button>
	<button class="action" {{action 'finalize'}}>Finish &amp; Pay</button>
